<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:tex="${title}"></title>
    <link rel="stylesheet" href="\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="blocks/base :: header"></header>
<main>
    <div class="product-detail">
        <img th:src="${product.image_path}" class="product-image">
        <div class="product-details">
            <h1 th:text="${product.price} + '₽'" class="price"></h1>
            <p th:text="${product.getDescription()}" class="description"></p>
            <ul class="details">
                <li th:text="'ККАЛ: ' + ${product.getKcal()}"></li>
                <li th:text="'Вес: ' + ${product.getWeight()}"></li>
                <li th:text="${product.getCompound()}">Состав: тесто, шоколад</li>
            </ul>
            <div class="quantity">
                <span>Кол-во:</span>
                <div class="quantity-buttons">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <button class="add-to-cart">Добавить</button>
        </div>
    </div>
</main>
</body>
</html>
